/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F9FF;
  }
  
  nav {
    background-color: #4CB9E7;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  nav ul li {
    position: relative;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #ffffff; 
    font-weight: 600; 
    font-size: 1.2rem;
    padding: 8px 12px; 
    border-radius: 5px; 
    transition: all 0.3s ease; 
  }
  
  nav ul li a:hover {
    background-color: #ffffff; 
    color: #4CB9E7; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  }
  
  nav ul li:hover::after {
    content: ''; 
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 50%;
    height: 2px;
    background-color: #ffffff; 
    transform: translateX(-50%);
    transition: width 0.3s ease;
  }
  
  nav ul li:hover::after {
    width: 100%; 
  }
  